@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@200;300;400;600;800&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color-primary: #c1ffa4;
    --font-primary: "Poppins", sans-serif;
    --font-titles: "Merriweather", serif;
    --color-fondo: linear-gradient(0deg, rgba(72,172,252,1) 0%, rgba(255,213,0,1) 100%);
}

main{
    display: inline-flex;
    justify-content: center;
}

.cuerpo{
    
}